/* src/assets/css/variables.css */
:root {
    /* Paleta: Serenidad Clínica */
    --primary-teal: #B2DFDB;      /* Header y Marco del Modal */
    --secondary-mint: #E0F2F1;   /* Fondo interior del Modal */
    --accent-teal: #4DB6AC;      /* Botones activos y Hover */
    --sidebar-gray: #ECEFF1;     /* Barra lateral neutra */
    --btn-gray: #CFD8DC;         /* Botones Registrar/Cancelar */
    
    --bg-white: #FFFFFF;
    --text-dark: #263238;        /* Azul oscuro casi negro para mejor contraste */
    
    /* Variables funcionales */
    --calendar-border: #CFD8DC;  /* Bordes del calendario más suaves */
    --error-red: #EF5350;

    --font-main: 'Nunito', sans-serif;
    --font-weight-light: 300;
    --font-weight-reg: 400;
    --font-weight-bold: 700;
}